 /* Added Styles for form Component  */
 div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .plot-point{
   height: 20%;
   width: 20%;
   color: White;
   font: bold;
   background-color: black;
   margin-left:5%;
  }

  .input-field{
  height: 20%;
   width: 20%;
  }